$primary-color: rgb(102, 155, 189);
$secondary-color: #545454;

$white: #fff;
$black: #000;
$grey-color: #b5b5b5;

$background-color: #f6f6f6;

$importance-high-color: #f25c54;
$importance-medium-color: #f7b267;
$importance-low-color: #669bbc;
$importance-default-color: #b1a7a6;

$font-stack-primary: 'Roboto', sans-serif;
$font-stack-secondary: 'Poppins', sans-serif;
$font-color-primary: #303030;
$font-color-secondary: #545454;
